.body  {
	margin: 1px;
  min-height: 98%;
  max-height: 98%;
  min-width: 99%;
  max-width: 99%;

  text-align: center;
  margin: auto;
  position: absolute;
}

img {
	margin: 1px;
  min-height: 98%;
  max-width: 99%;
  max-height: 98%;
  background: url(https://media.istockphoto.com/photos/error-404-page-not-found-concept-picture-id846723338);
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}